@import 'normalize';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

// Primay
$limeGreen: hsl(163, 72%, 41%);
$brightRed: hsl(356, 69%, 56%);
$facebook: hsl(208, 92%, 53%);
$twitter: hsl(203, 89%, 53%);
$instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
$youtube: hsl(348, 97%, 39%);

// Toogle
$darkTheme: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
$lightTheme: hsl(230, 22%, 74%);

// Neutral DarkTheme
$veryDarkBlueBG: hsl(230, 17%, 14%);
$veryDarkBlueTOP: hsl(232, 19%, 15%);
$darkDesaturatedBlue: hsl(228, 28%, 20%);
$desaturatedBlue: hsl(228, 34%, 66%);
$white: hsl(0, 0%, 100%);

// Neutral LightTheme
$white: hsl(0, 0%, 100%);
$veryPaleBlue: hsl(225, 100%, 98%);
$lightGrayishBlue: hsl(227, 47%, 96%);
$darkGrayishBlue: hsl(228, 12%, 44%);
$veryDarkBlue: hsl(230, 17%, 14%);

html {
	font-size: 62.5%;
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
* {
	margin: 0;
}
body {
	height: 100vh;
	background-color: $veryDarkBlueBG;
	font-family: 'Inter', sans-serif;
	font-size: 1.4rem;
}
.container {
	margin: 0 2rem;
}
.header {
	height: 25rem;
	background-color: $veryDarkBlueTOP;
	border-radius: 0 0 1.5rem 1.5rem;

	h1 {
		color: $white;
		margin: 0;
		margin-bottom: 1rem;
		font-size: 2.4rem;
	}
	p {
		color: $desaturatedBlue;
		font-weight: 700;
	}

	&__title {
		margin-top: 5rem;
		margin-bottom: 2rem;
		padding: 0 0 2rem 0;
		border-bottom: 1px solid $desaturatedBlue;
	}

	&__darkMode {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&--btn {
			position: relative;
			height: 3rem;
			width: 5.5rem;
			border: none;
			border-radius: 5rem;
			background: $darkTheme;

			.toogle {
				position: absolute;
				top: 0.4rem;
				left: 0.4rem;
				height: 2.3rem;
				width: 2.3rem;
				background-color: $veryDarkBlueTOP;
				border-radius: 50%;
				transition: all 1s ease-in;

				// &:hover {
				// 	cursor: pointer;
				// 	transform: translateX(2.5rem);
				// }
			}
		}
	}
}
